@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root {
    --bg-color: #ffffff;
    --second-bg-color: #5f2222;
    --text-color: #000000;
    --main-color: #997c45;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
    padding-top: 1rem;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    transition: top 0.3s ease;
}
/* Header gizlendiğinde */
.header.hide {
    top: -100px; /* Yukarı kaydırarak gizler */
    position: fixed;
    width: 100%;
    z-index: 10;
}


.header.sticky {
    background: var(--bg-color);
}

.logo {
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
}

.navbar {
    position: relative;
}

.navbar a {
    font-size: 1.7rem;
    color: var(--text-color);
    font-weight: 500;
    margin-left: 3.5rem;
    transition: 0.3s;
}

.navbar a:hover,
.navbar a.active {
    color: var(--main-color);
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.card .heading{
    margin-bottom: 4rem;
    font-size:  3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Kart stilini düzenleme */
.card-container {
    display: flex;
    flex-direction: column; /* Alt alta sıralanmasını sağlamak için */
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.card-box {
    display: flex;
    align-items: center;
    background-color: var(--second-bg-color);
    border-radius: 1rem;
    padding: 2rem;
    width: 100%;
    max-width: 700px; /* Kartın maksimum genişliğini sınırla */
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem; /* Kartlar arasında boşluk */
}

.image-container {
    width: 100px;
    height: 100px;
    border-radius: 10%; 
    overflow: hidden;
    margin-right: 1.5rem;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.content h4 {    
    font-size: 2rem;
    color: white;   
}
.content p {    
    position:absolute;
    display: block;
    font-size: 1.4rem;
    color: white;
    margin: 7rem 5rem 0 0;
    
}
.content span {
    font-size: 2rem;
    color: white;
}

.chocolate-info {
    text-align: center;
    margin-top: 2rem;
    font-size: 1rem;
    font-weight: bold;
    color: var(--text-color); /* Varsayılan text color */
}

.chocolate-info p {
    border-top: 1px solid #000; /* Üstte bir çizgi */
    padding-top: 1rem; /* Metin ile çizgi arası boşluk */
}


/* Mobil cihazlar için düzenleme */
@media (max-width: 768px) {
    .card-box {
        flex-direction: row; /* Mobilde de fotoğrafın solda kalmasını sağlıyor */
        text-align: left;
        padding: 2rem;
    }

    .image-container {
        margin-right: 1.5rem;
    }

    .content {
        justify-content: space-between;
        flex-direction: row; /* Mobilde de içerik yatayda kalacak */
    }
    .navbar a {
        font-size: 1.4rem;
    }   
}
@media (max-width: 450px) {    
    .content span{
        font-size: 1.3rem;
    }
    .content h4{
        font-size: 1.3rem;
    }
    .content p {
        font-size: 0.9rem;
        color: white;
        
    }
}


#menu-icon {
    display: none;    
    font-size: 3.6rem;
    cursor: pointer;
}

/* Ekran genişliği 600px ve altına düştüğünde */
@media (max-width: 600px) {
    .navbar {
        display: none; /* Menü gizlenir */
        flex-direction: column; /* Açılınca dikey görünsün */
    }
    
    #menu-icon {
        display: block; /* Hamburger ikonu göster */
    }
    
    .navbar.active {
        display: flex; /* İkon tıklanınca menü görünür hale gelir */
        position: absolute;
        top: 100%; /* Üst menünün hemen altına gelir */
        left: 0;
        background-color: white;
        width: 100%;
        padding: 1rem 0;
    }

    .navbar a {
        padding: 1rem;
        text-align: center;
        width: 100%;
        color: #000;
    }
}